* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', serif;
}

html, body {
    height: 100%;
}

body {
    background-color: rgba(255, 166, 0, 0.562);
}

header {
    background-color: rgba(255, 166, 0, 0.781);
}

.title {
    text-align: center;
    margin: 40px 20px;
    margin-top: 0px;
    padding: 40px 0px;
    font-size: 48px;
}

.list {
    margin-left: 300px;
}

.list_item {
    font-size: 32px;
    padding: 16px 0px;
}

.list_item-link {
    color: black;
    text-decoration: none;
}

.list_item-link:hover {
    text-decoration: underline;
}